<% include head %>

<h1>Simulation Status <small><%= ai.name %> of <%= ai.user %> (<%= ai.idOfUser %>)</small></h1>

<dl class="dl-horizontal">
  <dt>Code Name</dt><dd><%= ai.name %></dd>
  <dt>User (Times of Submit)</dt><dd><%= ai.user %> (<%= ai.idOfUser %>)</dd>
  <dt>Submit Date</dt><dd><%=: ai.uploadDate | formatDate %></dd>
  <% if (ai.status === 'Pending') { %>
    <dt>Status</dt><dd><span class="label label-default"><%= ai.status %></span></dd>
  <% } else if (ai.status === 'Available') { %>
    <dt>Status</dt><dd><span class="label label-success"><%= ai.status %></span></dd>
  <% } else { %>
    <dt>Status</dt><dd><span class="label label-danger"><%= ai.status %></span></dd>
  <% } %>
</dl>

<% if (ai.user === user.name || settings.adminUsernames.indexOf(user.name) > -1) { %>
  <% if (ai.buildInfo) { %>
    <h2>Build Infomation</h2>
    <pre><%= ai.buildInfo %></pre>
  <% } %>

  <h2>Source Code</h2>
  <pre class="source-code prettyprint lang-cpp"><%= ai.sourceCode %></pre>
<% } %>

<% include foot_script %>
<script src="<%= settings.staticCDN %>/js/d3.min.js"></script>
<script src="<%= settings.staticCDN %>/js/c3.min.js"></script>
<script src="<%= settings.staticCDN %>/js/rating.js?20141217"></script>
<script src="<%= settings.staticCDN %>/google-code-prettify/prettify.js"></script>
<script>
ratingChart.setup("<%= ai._id %>/rating.json");
prettyPrint();
</script>
<% include foot_close %>